/* <div id="EventDisplay">
                    <h2>Event Preview</h2>
                        <p id=><strong>Organization:</strong> <span id="previewOrganizationName"></span></p>
                        <p><strong>Event Name:</strong> <span id="previewEventName"></span></p>
                        <img id="imagePreview" src="" alt="Event Image Preview" style="max-width: 80%; height: auto;">
                        <p><strong>Description:</strong> <span id="previewDescription"></span></p>
                        <p><strong>Location:</strong> <span id="previewLocation"></span></p>
                        <p><strong>Starts On:</strong> <span id="previewStartsOn"></span></p>
                        <p><strong>Ends On:</strong> <span id="previewEndsOn"></span></p>

                </div> */

#EventDisplay{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
}


#EventDisplay h2{
    text-align: center;
    color: #006a52;
    margin-bottom: 20px;
}

#EventDisplay 

#imagePreview{
    border: 2px solid grey;
    max-width: 80%;
    min-width: 80%;
    min-height: 400px;
}

